In [14]:
import requests
import pandas as pd

In [15]:
# API endpoint URL
url = "https://gateway.marvel.com/v1/public/characters"
# My Marvel API credentials
public_key = "62d5de58f13cfb840a014d9d8557543a"
private_key = "a54a74efaa8509a1c740fbeddd780799984bc77b"

In [16]:
# import these libs for 
# Create an MD5 hash from a timestamp to include in request parameters
import hashlib
import time

ts = str(time.time())

In [17]:
# Define the parameters for the API request
params = {
    "apikey": public_key,
    "ts": ts,
    "hash": hashlib.md5((ts + private_key + public_key).encode("utf-8")).hexdigest(),
    "limit": 100, # Set the number of results per page
    "offset": 0 # Set the offset to start retrieving results from
}

In [18]:
# Send a GET request to the API endpoint and retrieve the response
response = requests.get(url, params=params)
#data = response.json()["data"]["results"]
total_characters = response.json()["data"]["total"]

In [19]:
print(total_characters)

1562

In [20]:
# Create an empty list to store the data
results = []

In [21]:
# Iterate through the pages of results and append to the results list
for i in range(0, total_characters, 100):
    # Update the offset parameter for the next page of results
    params["offset"] = i
# Send a GET request to the API endpoint with the updated parameters
    response = requests.get(url, params=params)
# Extract the data from the response JSON and append to the results list
    data = response.json()["data"]["results"]
    results.extend(data)

### To get all the data, I had to make several requests to the API, using the offset parameter to get the characters in blocks of fixed size, until I got all the desired results.

In [22]:
# Convert the results to a Pandas DataFrame
df = pd.DataFrame(results, columns=["id", "name", "description", "comics", "series", "stories", "events"])

In [23]:
# Write the DataFrame to a CSV file
df.to_csv("marvel_characters.csv", index=False)

In [24]:
# Dataframe without data cleaning
df

,id,name,description,comics,series,stories,events
0,1011334,3-D Man,,"{'available': 12, 'collectionURI': 'http://gat...","{'available': 3, 'collectionURI': 'http://gate...","{'available': 21, 'collectionURI': 'http://gat...","{'available': 1, 'collectionURI': 'http://gate..."
1,1017100,A-Bomb (HAS),Rick Jones has been Hulk's best bud since day ...,"{'available': 4, 'collectionURI': 'http://gate...","{'available': 2, 'collectionURI': 'http://gate...","{'available': 7, 'collectionURI': 'http://gate...","{'available': 0, 'collectionURI': 'http://gate..."
2,1009144,A.I.M.,AIM is a terrorist organization bent on destro...,"{'available': 53, 'collectionURI': 'http://gat...","{'available': 36, 'collectionURI': 'http://gat...","{'available': 57, 'collectionURI': 'http://gat...","{'available': 0, 'collectionURI': 'http://gate..."
3,1010699,Aaron Stack,,"{'available': 14, 'collectionURI': 'http://gat...","{'available': 3, 'collectionURI': 'http://gate...","{'available': 27, 'collectionURI': 'http://gat...","{'available': 0, 'collectionURI': 'http://gate..."
4,1009146,Abomination (Emil Blonsky),"Formerly known as Emil Blonsky, a spy of Sovie...","{'available': 55, 'collectionURI': 'http://gat...","{'available': 27, 'collectionURI': 'http://gat...","{'available': 65, 'collectionURI': 'http://gat...","{'available': 1, 'collectionURI': 'http://gate..."
...,...,...,...,...,...,...,...
1557,1011515,Zeus,Zeus ruled a peaceful Olympus for centuries wh...,"{'available': 36, 'collectionURI': 'http://gat...","{'available': 13, 'collectionURI': 'http://gat...","{'available': 43, 'collectionURI': 'http://gat...","{'available': 0, 'collectionURI': 'http://gate..."
1558,1011127,Zodiak,"Twelve demons merged with Norman Harrison, who...","{'available': 1, 'collectionURI': 'http://gate...","{'available': 1, 'collectionURI': 'http://gate...","{'available': 1, 'collectionURI': 'http://gate...","{'available': 0, 'collectionURI': 'http://gate..."
1559,1009741,Zombie (Simon Garth),War hero Simon Garth was turned into a zombie ...,"{'available': 1, 'collectionURI': 'http://gate...","{'available': 1, 'collectionURI': 'http://gate...","{'available': 1, 'collectionURI': 'http://gate...","{'available': 0, 'collectionURI': 'http://gate..."
1560,1011183,Zuras,Zuras was once the leader of the Eternals.,"{'available': 3, 'collectionURI': 'http://gate...","{'available': 3, 'collectionURI': 'http://gate...","{'available': 3, 'collectionURI': 'http://gate...","{'available': 0, 'collectionURI': 'http://gate..."
1561,1009742,Zzzax,"A chain reaction in an atomic reactor, a resul...","{'available': 5, 'collectionURI': 'http://gate...","{'available': 4, 'collectionURI': 'http://gate...","{'available': 6, 'collectionURI': 'http://gate...","{'available': 0, 'collectionURI': 'http://gate..."

In [25]:
df.shape

(1562, 7)

In [38]:
df.head()

,id,name,description,comics,series,stories,events
0,1011334,3-D Man,,12,3,21,1
1,1017100,A-Bomb (HAS),Rick Jones has been Hulk's best bud since day ...,4,2,7,0
2,1009144,A.I.M.,AIM is a terrorist organization bent on destro...,53,36,57,0
3,1010699,Aaron Stack,,14,3,27,0
4,1009146,Abomination (Emil Blonsky),"Formerly known as Emil Blonsky, a spy of Sovie...",55,27,65,1

In [27]:
#checks the first 5 column values
df["comics"][0:5]

0    {'available': 12, 'collectionURI': 'http://gat...
1    {'available': 4, 'collectionURI': 'http://gate...
2    {'available': 53, 'collectionURI': 'http://gat...
3    {'available': 14, 'collectionURI': 'http://gat...
4    {'available': 55, 'collectionURI': 'http://gat...
Name: comics, dtype: object

In [28]:
#To extract only the value of the first key from the dictionary present
#in the df column, I used the .apply() method from Pandas together with a lambda function 
# that extracts the value of the first key

df["comics"] = df["comics"].apply(lambda x: x["available"] if isinstance(x, dict) else None)

In [30]:
#checks the first 5 column values
df["series"][0:5]

0    {'available': 3, 'collectionURI': 'http://gate...
1    {'available': 2, 'collectionURI': 'http://gate...
2    {'available': 36, 'collectionURI': 'http://gat...
3    {'available': 3, 'collectionURI': 'http://gate...
4    {'available': 27, 'collectionURI': 'http://gat...
Name: series, dtype: object

In [31]:
#To extract only the value of the first key from the dictionary present
#in the df column, I used the .apply() method from Pandas together with a lambda function 
# that extracts the value of the first key
df["series"] = df["series"].apply(lambda x: x["available"] if isinstance(x, dict) else None)

In [33]:
#checks the first 5 column values
df["stories"][0:5]

0    {'available': 21, 'collectionURI': 'http://gat...
1    {'available': 7, 'collectionURI': 'http://gate...
2    {'available': 57, 'collectionURI': 'http://gat...
3    {'available': 27, 'collectionURI': 'http://gat...
4    {'available': 65, 'collectionURI': 'http://gat...
Name: stories, dtype: object

In [34]:
#To extract only the value of the first key from the dictionary present
#in the df column, I used the .apply() method from Pandas together with a lambda function 
# that extracts the value of the first key
df["stories"] = df["stories"].apply(lambda x: x["available"] if isinstance(x, dict) else None)

In [36]:
#checks the first 5 column values
df["events"][0:5]

0    {'available': 1, 'collectionURI': 'http://gate...
1    {'available': 0, 'collectionURI': 'http://gate...
2    {'available': 0, 'collectionURI': 'http://gate...
3    {'available': 0, 'collectionURI': 'http://gate...
4    {'available': 1, 'collectionURI': 'http://gate...
Name: events, dtype: object

In [37]:
#To extract only the value of the first key from the dictionary present
#in the df column, I used the .apply() method from Pandas together with a lambda function 
# that extracts the value of the first key
df["events"] = df["events"].apply(lambda x: x["available"] if isinstance(x, dict) else None)

In [39]:
df

,id,name,description,comics,series,stories,events
0,1011334,3-D Man,,12,3,21,1
1,1017100,A-Bomb (HAS),Rick Jones has been Hulk's best bud since day ...,4,2,7,0
2,1009144,A.I.M.,AIM is a terrorist organization bent on destro...,53,36,57,0
3,1010699,Aaron Stack,,14,3,27,0
4,1009146,Abomination (Emil Blonsky),"Formerly known as Emil Blonsky, a spy of Sovie...",55,27,65,1
...,...,...,...,...,...,...,...
1557,1011515,Zeus,Zeus ruled a peaceful Olympus for centuries wh...,36,13,43,0
1558,1011127,Zodiak,"Twelve demons merged with Norman Harrison, who...",1,1,1,0
1559,1009741,Zombie (Simon Garth),War hero Simon Garth was turned into a zombie ...,1,1,1,0
1560,1011183,Zuras,Zuras was once the leader of the Eternals.,3,3,3,0
1561,1009742,Zzzax,"A chain reaction in an atomic reactor, a resul...",5,4,6,0